spring:
  application:
    name: transporte-bff
  
  datasource:
    url: ${ORACLE_DB_URL}
    username: ${ORACLE_DB_USER}
    password: ${ORACLE_DB_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.OracleDialect

  # ⭐ CONFIGURACIÓN DE RABBITMQ
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASS:guest}
    listener:
      simple:
        acknowledge-mode: auto
        prefetch: 1

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: https://${AZURE_TENANT_NAME}.b2clogin.com/${AZURE_TENANT_NAME}.onmicrosoft.com/${AZURE_POLICY_NAME}/discovery/v2.0/keys
          audiences: ${AZURE_CLIENT_ID}

server:
  port: 8080

azure:
  b2c:
    tenant: ${AZURE_TENANT_NAME}
    client-id: ${AZURE_CLIENT_ID}
    policy: ${AZURE_POLICY_NAME}

cors:
  allowed-origins: "*"
